@media screen and (max-width: 746px) {
  .container {
    width: 100%;
  }

  /* header responsiable */
  header {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(245, 222, 179, 0.391);
    padding: 10px 0;
  }

  .header--logo {
    margin: 0 auto;
  }

  .header--nav {
    margin: 0 auto;
  }

  .header--button--group {
    margin: 0 auto;
  }

  /* header responstiable end */

  .main--card--group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main--card--group .card--right {
    margin: 20px auto;
    width: 100%;
  }

  .main--card--group .card--left {
    width: 100%;
  }

  .card--left--img {
    display: flex;
    flex-direction: row;
  }

  .card--left--img img {
    margin: 0 auto;
  }

  .img1 {
    width: 350px;
    transform: translate(250px);
    object-fit: content;
  }

  .img2 {
    width: 400px;
  }

  /* main business card here */

  .card--group {
    display: grid;
    grid-template-columns: repeat(1, 80%);
    gap: 10px;
    margin-top: 15x;
    justify-content: center;
    align-items: center;
  }

  /* app start */

  .app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 15px;
  }

  .app--logo {
    flex-basis: 100%;
  }

  .app--logo {
    flex-basis: 100%;
  }

  /* imformation start here */

  .information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
  }

  .information--right {
    flex-basis: 94%;
    padding: 5%;
    margin: 1% auto;
  }

  .information--left {
    flex-basis: 94%;
    padding: 5%;
    margin: 1% auto;
  }

  /* main contact start */

  .main--contact--content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }

  /* footer start here */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 25vh;
    background-color: rgba(0, 0, 255, 0.711);
    padding: 50px 0px 20px 20px;
  }

  footer > div {
    border-bottom: 2px solid #ccc;
    text-align: center;
    padding: 10px;
  }
}
